<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript" src='<%= Source_js %>svg_banner.js'></script>
  <script type="text/javascript" src='<%= Source_js %>index.js'></script>
  <style>
  @media only screen and ( max-width: 500px) {
    .breadcrumbs {display: none;}
  }
  </style>
</head>
<body>
  <!-- nav -->
  <%- include('controls/header') %>
  <div class='container'> 
  <div class="wrapper"> 
    <!--main content -->
    <div class="main"> 
    <%- include('controls/breadcrumbs') %>
         <!-- banner -->
      <!-- <div class="banner"> <span>Banner here</span></div>
      <!intro text 
      <div class="intro"><span>Welcome to the Spark prototyping site! You can find the latest prototypes and test resultes here. Get to know the team and the limitless future of Spark.</span>
      </div>-->
      <!--content blocks -->
      <div class="block-wrapper">
        <a class="sectionBlock bg_orange" id='sectionBlock_prototype' href="./prototypes/index.html">
          <div class="block-bg">
              <%- include('controls/svg/index_prototype') %>
          </div> 
          <p class="list_title">Prototypes</p>
        </a>
      </div>
      <div class="block-wrapper2">
          <a class="sectionBlock bg_yellow" id='sectionBlock_research' href="./research/index.html">
            <div class="block-bg">
                <%- include('controls/svg/index_research') %>
            </div> 
            <p class="list_title">RESEARCH & DEVELOPMENT</p>
          </a>
          <a class="sectionBlock bg_blue last_block" id='sectionBlock_team' href="./team/index.html">
            <div class="block-bg">
                <%- include('controls/svg/index_team') %>
            </div>
            <p class="list_title">TEAM MEMBERS</p>
          </a>
      </div>
    </div>
  </div>
  </div>
  <!-- footer -->
  </div>
  <div class="footerWrap">
<%- include('controls/footer') %>
</div>
</body>
</html>