<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <!-- nav -->
  <%- include('controls/header') %>
  <div class='container'> 
  <div class="wrapper"> 
    <!--main content -->
    <div class="main"> 
    <%- include('controls/breadcrumbs') %>
         <!-- banner -->
      <!-- <div class="banner"> <span>Banner here</span></div>
      <!intro text 
      <div class="intro"><span>Welcome to the Spark prototyping site! You can find the latest prototypes and test resultes here. Get to know the team and the limitless future of Spark.</span>
      </div>-->
      <!--content blocks -->
      <div class="block-wrapper">
      <a class="sectionBlock" href="./prototypes/index.html">
        <div class="block-l" style="background-image:url('<%= Source_img %>prototype.jpeg')"> 
        <div class="block_cover">
        <p class="list_title">Prototypes</p>
        </div>
      </div>
      </a>
      <a class="sectionBlock" href="./research/index.html">
        <div class="block-r" style="background-image:url('<%= Source_img %>research.jpg')"> 
        <div class="block_cover">
        <p class="list_title">Research</p>
        </div>
        </div>
      </a>
      </div>
      <div class="block-wrapper">
      <a class="sectionBlock" href="./team/index.html">
        <div class="block-a" style="background-image:url('<%= Source_img %>team.jpg')">
        <div class="block_cover">
        <p class="list_title">Team</p>
        </div>
      </div>
      </a>
      </div>
    </div>
    
  </div>
  </div>
  <!-- footer -->
  </div>
<%- include('controls/footer') %>
</body>
</html>