<!DOCTYPE html>
<html>
  <head>
      <%- include('controls/head') %>
      <link rel="stylesheet" type="text/css" href="<%= Source_css %>list.css" media="screen">
      <script type="text/javascript" src='<%= Source_js %>list.js'></script>
  </head>
  <body>
      <%- include('controls/header') %>
        <div class='container'>
            <div class="wrapper">
            <div class='main'>
             <%- include('controls/breadcrumbs') %>
             <!-- article list below -->
              <div class='article_con_thumbnail' id='article_con'>
                <div class='article_view_btn'><a class='btn_thumbnail' title="thumbnail view" id='btn_thumbnail'></a><a class='btn_list' title='list view' id='btn_list'></a></div>
                <% for(var i in List){ %>
                <a class="articleBlock"  target='_self' href='<%= List[i].RenderData.NameHTML %>'>
                    <div class='articleBlock_cover'>
                        <p class='list_space'></p>
                        <p class="list_title"><%= List[i].RenderData.Title %></p>
                        <p class='list_item_date'><%= List[i].RenderData.Date %></p>
                        <p class='list_item_desc'><%= List[i].RenderData.Desc %></p>
                    </div>
                    <div class="list_img" style="background-image: url('<%= Source_img_atricle %><%= List[i].RenderData.Cover %>');"></div>
                </a>
                <% } %> 
              </div>
              <!-- end of list items -->        
              <div class='pagination'><%- PageFirst %><%- PagePre %><%- PageGroup %><%- PageNext %><%- PageLast %></div>    
            </div>
            </div>
        </div>
      <%- include('controls/footer') %>
  </body>
</html>