<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <script type="text/javascript" src='<%= Source_js %>svg_banner.js'></script>
  <script type="text/javascript" src='<%= Source_js %>prototypes.js'></script>
  <style>
    @media only screen and ( max-width: 500px) {
      .breadcrumbs {display: none;}
    }
  </style>
</head>
<body>
  <!-- nav -->
  <%- include('controls/header') %>
  <div class='container'>
  <div class="wrapper">
    <!--main content -->
    <div class="container_left"></div>
    <div class="main">
    <%- include('controls/breadcrumbs') %>
      <!-- intro text 
      <div class="intro"><span>Find the latest prototypes and test resultes here. Get to know the team and the limitless future of Cisco Spark.</span></div>-->
      <!--content blocks -->
        <div class="block-wrapper2">
            <a class="sectionBlock bg_orange" id='con_current' href="./current/index.html">
                <div class="block-bg">
                    <%- include('controls/svg/prototypes_current') %>
                </div>
                <p class="list_title">CURRENT PROTOTYPES</p>      
            </a>     
            <a class="sectionBlock bg_yellow2 last_block" id='con_archiving' href="./archived/index.html">
                <div class="block-bg">
                   <%- include('controls/svg/prototypes_archiving') %>
                </div> 
                <p class="list_title">ARCHIVED PROTOTYPES</p>
            </a>
        </div>
        <div class="block-wrapper2">
            <a class="sectionBlock bg_blue" id='con_experimental' href="./experimental/index.html">
                <div class="block-bg">
                    <%- include('controls/svg/prototypes_experimental') %>
                </div>
                <p class="list_title">EXPERIMENTAL CONCEPTS</p>           
            </a>
            <a class="sectionBlock bg_dark last_block" id='con_faq' href="./faq/index.html">
                <div class="block-bg">
                    <%- include('controls/svg/prototypes_faq') %>
                </div> 
                <p class="list_title">TROUBLESHOOTING</p>
            </a>
        </div>
    <div class="container_left"></div>
  </div>
 </div>
</div>
 <!-- footer -->
 
 <%- include('controls/footer') %>

</body>
</html>