<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <!-- nav -->
  <%- include('controls/header') %>
  <div class='container'>
  <div class="wrapper">
    <!-- breadcrumb-->
    <!--main content -->
    <div class="main">
     <%- include('controls/breadcrumbs') %>   
      <!-- intro text -->
      <div class="intro"><span>Meet the team members behind the Spark portotypes.</span></div>
      <!--content blocks -->
     <!-- how to add the members.ejs here??? -->
      <div class="block-wrapper">
        <div class="block-a" style="background-image:url('<%= Source_img %>team.jpg')"><a href="./team/index.html"><span>Team</span></a></div>
      </div>
    </dir>
  </div>
</div>
</div>
   <!-- footer -->
   <%- include('controls/footer') %>
</body>
</html>