<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <link rel="stylesheet" type="text/css" href="<%= Source_css %>team.css" media="screen">
  <script type="text/javascript" src='<%= Source_js %>team.js'></script>
</head>
<body>
  <!-- nav -->
  <%- include('controls/header') %>
  <div class='container'>
    <div class="wrapper">
      <!-- breadcrumb-->
      <!--main content -->
        <div class="main">
        <%- include('controls/breadcrumbs') %>   
        <!-- intro text -->
        <h1 class='part_h1'><a>Members</a></h1>
        <%- include('controls/map') %> 
        <!--content blocks -->
       <!-- how to add the members.ejs here??? -->
        </div>
    </div>
  </div>    
  <div class='team_project'>
      <h1 class='part_h1'><a>Projects</a></h1>
      <div class='team_project_logos'><a class='logo_webex'></a><a class='logo_spark'></a><a class='logo_jabber'></a></div>
  </div>
  <div class='team_project_photo'></div>
   <!-- footer -->
   <%- include('controls/footer') %>
</body>
</html>