<!DOCTYPE html>
<html>
<head>
  <%- include('controls/head') %>
  <link rel="stylesheet" type="text/css" href="<%= Source_css %>team.css" media="screen">
  <script type="text/javascript" src='<%= Source_js %>team.js'></script>
</head>
<body>
  <!-- nav -->
  <%- include('controls/header') %>
  <div class='container'>
  <div class="wrapper">
    <!-- breadcrumb-->
    <!--main content -->
    <div class="main">
     <%- include('controls/breadcrumbs') %>   
      <!-- intro text -->
      <div class="intro"><h1>Meet the team behind our prototypes</h1></div>
      <%- include('controls/map') %> 
      <!--content blocks -->
     <!-- how to add the members.ejs here??? -->
    </dir>
  </div>
</div>
</div>
   <!-- footer -->
   <%- include('controls/footer') %>
</body>
</html>